
# Windows image file caches 
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
bin/me/xsilverslayerx/utils/Listeners.class
bin/me/xsilverslayerx/itemjoin/ItemJoin.class
bin/me/xsilverslayerx/utils/Commands.class
bin/me/xsilverslayerx/utils/UpdateChecker.class
.classpath
.project
.settings/org.eclipse.jdt.core.prefs
*.class
*.class
bin/me/xsilverslayerx/itemjoin/utils/Commands.class
*.prefs
/bin/
.gitattributes
.gitattributes
.gitattributes
